:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 20%);
  --color-dark-grey: hsl(0, 0%, 12%);
  --color-off-black: hsl(0, 0%, 8%);

  --font-primary: Inter, sans-serif;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 400, 600, 700;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--color-off-black);
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 24px;
  box-sizing: border-box;

  color: var(--color-white);
}

.card {
  background-color: var(--color-dark-grey);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 385px;
  width: 100%;

  padding: 40px;
  box-sizing: border-box;
}

img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 28px;
}

h2 {
  color: var(--color-green);
  font-weight: 600;
  margin-top: 12px;
}

h3 {
  margin: 28px 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.link {
  background-color: var(--color-grey);
  color: var(--color-white);

  text-decoration: none;

  padding: 16px 0;

  width: 100%;
  text-align: center;

  border-radius: 8px;

  font-weight: 600;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--color-green);
  color: var(--color-dark-grey);
}

.attribution {
  position: fixed;
  bottom: 0;
  padding: 12px;
}

.attribution a {
  color: var(--color-green);
}

@media screen and (max-width: 768px) {
  .card {
    padding: 24px;
  }
}
